#app {
    padding: 20px;
    margin: 0 auto;
}
.jumbotron {
    padding: 1em 0.5em;
}

.mAuto { margin: 0 auto; }

.mb10 {margin-bottom: 10px;}
.ml10 {margin-left: 10px;}

.alignC { text-align: center; }
.alignR { text-align: right; }

.floatR {float: right;}